<div id="<%= dom_id game %>">
  <p>
    <strong>Attempts:</strong>
    <%= game.attempts %>
  </p>

  <p>
    <strong>Won:</strong>
    <%= game.won %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= game.words.first.char_count %>
  </p>

</div>
