<p style="color: green"><%= notice %></p>

<h1>Words</h1>

<div id="words">
  <% @words.each do |word| %>
    <%= render word %>
    <p>
      <%= link_to "Show this word", word %>
    </p>
  <% end %>
</div>

<%= link_to "New word", new_word_path %>
