/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: 'Roboto Slab', serif;
 }


 .flex-container {
  display: flex;
  justify-content: center;
  background-color: rgb(156, 165, 184) !important;
 }

 .white {
  color: white;
  border: 1px solid rgb(185, 184, 184);
  width: 3.5em;
 }

 .center, .last-items, .word-content {
  padding-top: 10%;
  text-align: center;
 }

 .word-content {
  font-weight: 800;
 }

 .submit {
  background-color: #0d47a1 !important;
  border: 1px solid rgb(185, 184, 184) !important
 }

 .destroy {
  background-color: rgb(131, 150, 187) !important;
 }

 .keyboard {
  border: 2px solid rgb(185, 184, 184);
  box-shadow: 3px 3px 4px 5px #0d47a1;
  border-radius: 5px;
 }

 .game-container {
  margin-top: 15px;
  background-color: aliceblue;
  width: 100%;
  padding: 8%;
  border: 2px solid rgb(221, 216, 216);
 }